<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/my-review']">My reviews</a>
    <a class="navbar-brand" [routerLink]="['/add-review']">Add Review</a>
    <a class="navbar-brand" [routerLink]="['/login']">Login</a>
</nav>

<router-outlet></router-outlet>

<div class="container">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Rating</th>
            <th scope="col">Text</th>
            <th scope="col">UserId</th>
            <th scope="col">KittenId</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let review of reviews">
            <td>{{review.id}}</td>
            <td>{{review.date}}</td>
            <td>{{review.rating}}</td>
            <td>{{review.text}}</td>
            <td>{{review.userid}}</td>
            <td>{{review.kittenid}}</td>
            <td><button type="button" class="btn btn-danger deleteButton" >Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>