<div id="background-content">
    <div class="container" id="content-home">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <div class="form-group">
                        <label for="firstName">
                            First Name
                        </label>
                        <input class="form-control" id="firstName" name="firstName" ngModel type="text">
                    </div>
                    <div class="form-group">
                        <label for="lastName">
                            Last Name
                        </label>
                        <input class="form-control" id="lastName" name="lastName" ngModel type="text">
                    </div>
                    <div class="form-group">
                        <label for="age">
                            Age
                        </label>
                        <input class="form-control" id="age" name="age" ngModel type="number">
                    </div>
                    <div class="form-group">
                        <label for="email">
                            Email
                        </label>
                        <input class="form-control" id="email" name="email" ngModel type="text">
                    </div>
                    <label [ngStyle]="{'display':displayEmailVerified}" class="checkingField"> Email already
                        exists. </label>
                    <label [ngStyle]="{'display':displayNullField}" class="checkingField"> Please complete all
                        fields. </label>
                    <button class="btn btn-primary" type="submit">Add this user</button>
                </form>
            </div>
        </div>
    </div>
</div>