#background-content {
    display: flex;
    justify-content: center;
    background-image: url("src/assets/background-cat-retouche.png");
}

#content-home {
    background-color: white;
    width: fit-content;
    padding: 50px;
    border-radius: 5%;
}

.form-control {
    min-width: 500px;
}