<div id="background-content">
    <div class="container" id="content-home">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <div class="form-group">
                        <label for="firstName">
                            First Name
                        </label>
                        <input class="form-control" id="firstName" name="firstName" ngModel type="text">
                    </div>
                    <div class="form-group">
                        <label for="fur">
                            Fur
                        </label>
                        <input class="form-control" id="fur" name="fur" ngModel type="text">
                    </div>
                    <div class="form-group">
                        <label for="race">
                            Race
                        </label>
                        <input class="form-control" id="race" name="race" ngModel type="text">
                    </div>
                    <div class="form-group">
                        <label for="age">
                            Age
                        </label>
                        <input class="form-control" id="age" name="age" ngModel type="text">
                    </div>
                    <div class="form-group">
                        <label for="imagepath">
                            Image
                        </label>
                        <input class="form-control" id="imagepath" name="imagepath" ngModel type="text">
                    </div>
                    <div class="form-group">
                        <label for="sex">
                            Sex
                        </label>
                        <input class="form-control" id="sex" name="sex" ngModel type="text">
                    </div>
                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>
