<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="logo" src="../assets/logo-epf.png"/>
  <a class="navbar-brand" [routerLink]="['/users']">User List</a>
  <a class="navbar-brand" [routerLink]="['/add-user']">Add User</a>
  <a class="navbar-brand" [routerLink]="['/kittens']">Kitten List</a>
  <a class="navbar-brand" [routerLink]="['/add-kitten']">Add Kitten</a>
  <a class="navbar-brand" [routerLink]="['/list-review']">Review List</a>
  <a class="navbar-brand" [routerLink]="['/add-review']">Add Review</a>
  <a class="navbar-brand" [routerLink]="['/login']">Login</a>
</nav>

<router-outlet></router-outlet>


