<ng-container *ngIf="kittenPrint">
<body>
<h2>{{kittenPrint.firstName}}</h2>
<div>
    <img class="kittenImg" src="../assets/{{kittenPrint.imagepath}}" alt="{{kittenPrint.firstName}}" width="300" height="400">
</div>
    <div class="description">
        <hr>
        <b>Race : </b>{{kittenPrint.race}}<br>
        <b>Sex : </b>{{kittenPrint.sex}}<br>
        <b>Fourrure : </b>{{kittenPrint.fur}}<br>
        <b>Age : </b>{{kittenPrint.age}}<hr>
    </div>
    <button class="jugdeButton" routerLink="/add-review">Juger el gato</button>
    <button class="nextButton" (click)="nextKitten()">Boring next</button>
</body>
</ng-container>