<ng-container *ngIf="kittenPrint">
<body>
<h2>{{kittenPrint.firstName}}</h2>
<div>
    <img class="kittenImg" src="{{kittenPrint.imagepath}}" alt="{{kittenPrint.firstName}}" width="300" height="400">
</div>
    <div class="description">
        <hr>
        <b>Race : </b>{{kittenPrint.race}}<br>
        <b>Sex : </b>{{kittenPrint.sex}}<br>
        <b>Fourrure : </b>{{kittenPrint.fur}}<br>
        <b>Age : </b>{{kittenPrint.age}}<hr>
    </div>
<!--    <button routerLink="/Judging/{{kittenPrint.id}}">Juger el gato</button>-->
    <button class="jugdeButton" routerLink="/users">Juger el gato</button> <!-- ceci est un test pas de soucis -->
    <button class="nextButton" (click)="nextKitten()">Boring next</button>
</body>
</ng-container>